- @ticket.comments.each do |comment|
  .row
    .col.s1
      = image_tag user_avatar(comment.user, 40), class: "circle comment-avatar responsive-img"
    .col.s11
      = comment.user.email
      %br
      .grey-text
        = days_ago(comment.created_at)
    .row
      .col.s12
        .comment
          = comment.body
.row
  .col.s12
    = simple_form_for([project, commentable, comment]) do |f|
      .input-field
        = f.text_area :body, class: 'materialize-textarea'
        = f.label 'Comment'
      = f.button :submit, class: 'confirm'
