!!!
%html
  %head
    %title Freelacrm
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body
    %nav.purple.lighten-1
      .container
        .nav-wrapper
          - if user_signed_in?
            %a.sidenav-trigger.show-on-large{"data-target" => "slide-out"}
              %i.material-icons menu
          .brand-logo
            = link_to '/Freela', root_path
          %ul#nav-mobile.right.hide-on-med-and-down
            - if user_signed_in?
              = link_to destroy_user_session_path, method: :delete do
                %i.material-icons exit_to_app
            - else
              %li
                = link_to 'Login', new_user_session_path
              %li
                = link_to 'Register',  new_user_registration_path
    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield

- if user_signed_in?
  %ul#slide-out.sidenav
    %li
      .user-view
        .background
          %img{:src => "https://maisonave.com.br/wp-content/uploads/2019/04/Jurere-Internacional.jpg"}/
        = link_to user_path(current_user) do
          %img.circle{:src => "https://media-exp1.licdn.com/dms/image/C4D03AQGGY775DU38Nw/profile-displayphoto-shrink_200_200/0/1611971208266?e=1626912000&v=beta&t=S9gkF328p7-HVgJW5yOpZ7Z_40hBfQJN6h8uaXAzev8"}/
          %span.white-text.name
            = current_user.username
          %span.white-text.email
            = current_user.email
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons attach_money
        Budget Requests
        %span.new.badge 4
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons people
        Clients
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons money_off
        Expenses
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons show_chart
        Statistics
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons payment
        Invoices
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons content_paste
        Reports
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons markunread
        Invite Your Clients
    %li
      .divider
    %li
      %a.subheader Free Account
    %li
      %a{:href => "#!"}
        %i.tiny.material-icons today
        Manage Subscription

