!!!
%html
  %head
    %title Freelacrm
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .nav-wrapper
        .brand-logo
          = link_to 'Logo', root_path
        %ul#nav-mobile.right.hide-on-med-and-down
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Login', new_user_session_path
            %li
              = link_to 'Register',  new_user_registration_path
    
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield